<h1>Watch list</h1>

<ul>
    {{#each movies}}
    <li>
        <p>
            {{this.id}}. {{this.movie}}
            <button data-movieid="{{this.id}}" class="delete-movie">Delete Movie!</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Create a Movie</h2>
<form id="createmovie" class="button-size">
    <textarea type="text" name="movie"></textarea>
    <button type="submit">Save Movie!</button>
</form>

<h2>Update a Movie</h2>
<form id="updatemovie" class="button-size">
    <select name="id">
        {{#each movies}}
        <option value="{{this.id}}">{{this.movie}}</option>
        {{/each}}
    </select>
    <textarea type="text" name="movie" placeholder="movie"></textarea>
    <button type="submit">Update Movie!</button>
</form>

<script>
    $(".delete-movie").on("click", function (event) {
        // Get the ID from the button.
        // This is shorthand for $(this).attr("data-movieid")
        const id = $(this).data("movieid");

        // Send the DELETE request.
        $.ajax("/api/movies/" + id, {
            type: "DELETE"
        }).then(
            () => {
                console.log("deleted id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#createmovie").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // [name=movie] will find an element with a "name" attribute equal to the string "movie"
        const newMovie = {
            movie: $("#createmovie [name=movie]").val().trim()
        };

        // Send the POST request.
        $.ajax("/api/movies", {
            type: "POST",
            data: newMovie
        }).then(
            () => {
                console.log("created new movie");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#updatemovie").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // Get the ID by finding an element with a "name" attribute equal to the string "id"
        const id = $("[name=id]").val().trim();

        const updatedMovie = {
            movie: $("#updatemovie [name=movie]").val().trim()
        };

        // Send the PUT request.
        $.ajax("/api/movies/" + id, {
            type: "PUT",
            data: updatedMovie
        }).then(
            () => {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
</script>